* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #2e2e2e;
  color: #f0f0f0;
  line-height: 1.6;
}

header {
  background-color: #014421;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ff004f;
}

.logo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.logo-titulo img {
  width: 60px;
  height: auto;
}

header h1 {
  font-size: 2.5em;
  color: #f0f0f0;

}

.logo {
  color: #00ff00;
}

.titulo {
  color: #001f4d;
}

nav {
  background-color: #001f4d;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

nav a {
  background-color: #001f4d;
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #014421;
  color: #fff;
}

nav a.active {
  background-color: #00ff99;
  color: #001f4d;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.setup-card {
  background-color: #3a3a3a;
  border: 1px solid #ff004f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

footer#contato {
  background-color: #001f4d;
  color: #f0f0f0;
  text-align: center;
  padding: 20px 15px;
  font-size: 0.85em;
  border-top: 2px solid #ff004f;
  line-height: 1.5;
}

footer#contato p {
  margin: 5px 0;
}

footer#contato a {
  color: #00ffff;
  text-decoration: none;
}

footer#contato a:hover {
  text-decoration: underline;
}

.linha-produtos {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.produto {
  background-color: #001f4d;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.produto h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.produto .preco {
  font-weight: bold;
  color: #00ff99;
  margin: 10px 0;
}

.botao-comprar {
  display: inline-block;
  background-color: #014421;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.botao-comprar:hover {
  background-color: #00ff99;
  color: #001f4d;
}

h1{
  font-family: 'Comic Neue' , sans-serif;
}